
body{
    background-color: black;
}
.porshce{
	width: 150px;
	position: absolute;
	top: 19%;
	right: 1%;
	animation-name: porshce;
	animation-delay: 0.3s;
	animation-duration: 7s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}
.landrover{
	width: 150px;
	position: absolute;
	top: 50%;
	animation-name: landrover;
	animation-delay: 0.2s;
	animation-duration: 5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}
.lights{
	width: 150px;
	position: absolute;
	top: 30%;
	left: 50%;
}
.traffic{
	position: absolute;
	width: 115px;
	bottom: 30%;
	right: 20%;
}
.sport{
	position: absolute;
	width: 150px;
	bottom: 1%;
	right: 28%;
	animation-name: blue-car;
	animation-delay: 2s;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
}
.moon-space{
	display: flex;
	justify-content: flex-start;
}
.moon{
	width: 300px;
	animation-name: moon;
	animation-delay: 0.2s;
	animation-duration: 300s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}
.road-blue-one{
	position: absolute;
	bottom: 0;
	right: 29.7%;
	z-index: -1;
	width: 100px;
}
.road-blue-two{
	position: absolute;
	bottom: 100px;
	right: 29.7%;
	z-index: -1;
	width: 100px;
}
.road-blue-three{
	position: absolute;
	bottom: 200px;
	right: 29.7%;
	z-index: -1;
	width: 100px;
}
.road-blue-four{
	position: absolute;
	bottom: 300px;
	right: 29.7%;
	z-index: -1;
	width: 100px;
}
.road-blue-five{
	position: absolute;
	bottom: 400px;
	right: 29.7%;
	z-index: -1;
	width: 100px;
}
.road-blue-six{
	position: absolute;
	bottom: 500px;
	right: 29.7%;
	z-index: -1;
	width: 100px;
}
.road-blue-seven{
	position: absolute;
	bottom: 600px;
	right: 29.7%;
	z-index: -1;
	width: 100px;
}
.road-blue-eight{
	position: absolute;
	bottom: 700px;
	right: 29.7%;
	z-index: -1;
	width: 100px;
}
.
@keyframes porshce{
	100%{
	    transform: translateX(-1000%);
	}
}
@keyframes landrover{
	100%{
	    transform: translateX(400%);
	}
}
@keyframes blue-car{
	100%{
	    transform: translateY(-1000%);
	}
}
@keyframes moon{
	100%{
	    transform: translateX(1000%);
	}
}